html {
	box-sizing: border-box;
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;

	background-color: rgba(189, 234, 235, 0.421);
	color: rgb(89, 88, 88);
}

.title {
	text-align: center;
}

h3 {
	font-size: 2.5em;
	padding-left: 1.4em;
}

label,
input,
button {
	font-size: 1.2em;
	margin-bottom: 1em;
}

img {
	position: absolute;
	top: 5.5em;
	left: 0;
	right: 0;
	margin: auto;
	width: 80%;
	display: block;
}

ul {
	position: absolute;
	bottom: 2.5em;
	left: 1em;

	line-height: 2;
	font-size: large;
	font-weight: 600;
}

.weatherContainer {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	row-gap: 2em;
}

.holder {
	position: relative;
	background: rgb(34, 193, 195);
	background: linear-gradient(
		193deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(255, 190, 51, 1) 100%
	);
	border-radius: 1em;

	height: 550px;
	margin-top: 2em;
}

.holder h2 {
	text-align: center;
}

.holder ul {
	list-style: none;
}

@media screen and (min-width: 350px) {
	img {
		width: 70%;
	}
}

@media screen and (min-width: 400px) {
	.holder {
		width: 400px;
		margin: auto;
	}
}

@media screen and (min-width: 850px) {
	h1 {
		font-size: 3em;
	}
	.weatherContainer {
		display: flex;
		flex-wrap: wrap;
	}
	.title {
		margin-bottom: 3em;
	}
}
