html {
	box-sizing: border-box;
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

h3 {
	font-size: 2.5em;
	padding-left: 1em;
}

label,
input,
button {
	font-size: 1.2em;
}

img {
	position: absolute;
	top: 3em;
	left: 0;
	right: 0;
	margin: auto;
	width: 80%;
	display: block;
}

ul {
	position: absolute;
	bottom: 0;
}

.weatherContainer {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	row-gap: 1em;
}

.holder {
	position: relative;
	background: rgb(34, 193, 195);
	background: linear-gradient(
		193deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(255, 190, 51, 1) 100%
	);

	height: 550px;
}

.holder h2 {
	text-align: center;
}

.holder ul {
	list-style: none;
}
